@page
@model Abby.Web.Pages.Admin.Orders.OrderDetailsModel
@using Abby.Utility

<form method="post">
	<div class="border p-4 ml-1 backgroundWhite mt-4">
		<div class="row pb-1">
			<div class="col-12 col-md-6 ">
				<p class="h2  text-primary">Order Details</p>
			</div>
			<div class="col-12 col-md-4 offset-md-2">
				<a asp-page="/Admin/Orders/OrderList" class="btn btn-outline-primary form-control">Back to Orders </a>
			</div>
		</div>
		<hr />
		<div class="row pt-2">
			<div class="col-lg-8 col-12" style="border-right:1px solid #bbb9b9">

				<div class="form-group row py-1">
					<div class="col-md-3 col-12 text-primary">
						Name
					</div>
					<div class="col-md-9 col-12">
						<input asp-for="@Model.OrderHeader.PickupName" disabled class="form-control" />
					</div>
				</div>

				<div class="form-group row py-1">
					<div class="col-md-3 col-12 text-primary">
						Email
					</div>
					<div class="col-md-9 col-12">
						<input asp-for="@Model.OrderHeader.ApplicationUser.Email" disabled class="form-control" />
					</div>
				</div>

				<div class="form-group row py-1">
					<div class="col-md-3 col-12 text-primary">
						Phone Number
					</div>
					<div class="col-md-9 col-12">
						<input asp-for="@Model.OrderHeader.PhoneNumber" disabled class="form-control" />
					</div>
				</div>

				<div class="form-group row py-1">
					<div class="col-md-3 col-12 text-primary">
						Total Price
					</div>
					<div class="col-md-9 col-12">
						<input disabled asp-for="@Model.OrderHeader.OrderTotalPrice" class="form-control" />
					</div>
				</div>

				<div class="form-group row py-1">
					<div class="col-md-3 col-12 text-primary">
						Pickup Date Time
					</div>
					<div class="col-md-9 col-12">
						<input value="@Model.OrderHeader.PickupTime.ToShortDateString() @Model.OrderHeader.PickupTime.ToShortTimeString()" disabled class="form-control" />
					</div>
				</div>

				<div class="form-group row py-1">
					<div class="col-md-3 col-12 text-primary">
						Comments
					</div>
					<div class="col-md-9 col-12">
						<textarea asp-for="@Model.OrderHeader.Comments" disabled class="form-control" rows="3"></textarea>
					</div>
				</div>

			</div>

			<div class="col-lg-4 col-12">
				<button type="submit" disabled class="btn btn-outline-info form-control">@Model.OrderHeader.Status</button>

				<h4 class="d-flex justify-content-between align-content-center mb-3 pt-3">
					<span class="text-muted">Order ID: </span>
					<span class="badge badge-secondary badge-pill">@Model.OrderHeader.Id</span>
				</h4>
				<ul class="list-group mb-3">
					@foreach (var detail in Model.OrderDetails)
					{
						<li class="list-group-item d-flex justify-content-between">
							<div>
								<h6 class="my-0">@detail.MenuItemName</h6>
								<small class="text-muted">Quantity : @detail.Count</small>
							</div>
							<span class="text-muted">$@(detail.MenuItemPrice * detail.Count)</span>
						</li>
					}
					<li class="list-group-item d-flex justify-content-between bg-light">
						<span class="text-info"> Total (USD)</span>
						<strong class="text-info">$@Model.OrderHeader.OrderTotalPrice</strong>
					</li>
				</ul>
				<div class="row pt-3">
					@if (Model.OrderHeader.Status == SD.StatusReadyForPickup
										&& (User.IsInRole(SD.ManagerRole) || User.IsInRole(SD.FrontDeskRole)))
					{
						<div class="col-12 pb-2">
							<button type="submit" class="btn btn-primary form-control"
									asp-page-handler="OrderCompleted" asp-route-orderId="@Model.OrderHeader.Id">
								Complete Order
							</button>
						</div>
					}
					@if (
							(User.IsInRole(SD.ManagerRole) || User.IsInRole(SD.FrontDeskRole))
							&&
							(Model.OrderHeader.Status == SD.StatusReadyForPickup ||
							Model.OrderHeader.Status == SD.StatusSubmittedPaymentApproved ||
							Model.OrderHeader.Status == SD.StatusInProccess)
						)
					{
						<div class="col-6">
							<button type="submit" class="btn btn-warning form-control"
									asp-page-handler="OrderCancel" asp-route-orderId="@Model.OrderHeader.Id">
								<i class="bi bi-x-square"></i> Cancel Order
							</button>
						</div>
						<div class="col-6">
							<button type="submit" class="btn btn-danger form-control"
									asp-page-handler="OrderRefund" asp-route-orderId="@Model.OrderHeader.Id">
								<i class="bi bi-currency-dollar"></i> Refund Order
							</button>
						</div>
					}
					@if (Model.OrderHeader.Status == SD.StatusPendingPayment
										&& (User.IsInRole(SD.CustomerRole))
						)
					{
						<div class="col-12 pb-2">
							<button type="submit" class="btn btn-primary form-control"
									asp-page-handler="PayNow" asp-route-orderId="@Model.OrderHeader.Id">
								Pay Now
							</button>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</form>