@page
@model Abby.Web.Pages.Admin.MenuItems.IndexModel

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Menu Item List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Upsert" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>&nbsp;Create New Menu Item
            </a>
        </div>
    </div>
    <br />
    <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>FoodType</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var mi in Model.MenuItems)
            {
                <tr>
                    <td>@mi.Id</td>
                    <td>@mi.Name</td>
                    <td>@mi.Price</td>
                    <td>@mi.Category.Name</td>
                    <td>@mi.FoodType.Name</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-page="Upsert" asp-route-id="@mi.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="Delete" asp-route-id="@mi.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
